.ProductCard{
    height: 130px;
    width: 140px;
    background-color: blue;
    margin: 10px;
}
#Pcard{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    flex-wrap: wrap;
}